<h1>Guess color</h1>
<div style="justify-items: center;">
    <div *ngIf="empty">
        <h2>Final score: {{ score }}</h2>
      </div>
    <button (click)="guessR()">Red</button>
    <button (click)="guessB()">Black</button>
    <button (click)="newGame()">New game</button>
    </div>
    <div>
      <div style="float:left">
        <h3>Player 1</h3>
        <h4>Remaining cards: {{playerCards.length}}</h4>
        <h4>Current score: {{score}}</h4>
        <h4>Previous card: {{card.value}} of {{card.suit}}</h4>
        <img [src]="card.image">
      </div>
    </div>
