<div style="justify-items: center;">
<h1>War Game</h1>
<button (click)="playRound()">Play Round</button>
<button (click)="newGame()">New game</button>
<div *ngIf="winner">
  <h2>Winner: {{ winner }}</h2>
</div>
</div>
<div>
  <div style="float:left">
    <h3>Player 1</h3>
    <h4>Remaining cards: {{player1Cards.length}}</h4>
    <img [src]="player1Cards[0].image">
  </div>
  <div style="float: right">
    <h3>Player 2</h3>
    <h4>Remaining cards: {{player2Cards.length}}</h4>
    <img [src]="player2Cards[0].image">
  </div>
</div>
